<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <title>David Nierman</title>
      </head>

    <body>
        <!--  ###############       NAVIGATION BAR       ###############-->

        <%- include('./partials/_nav'); %> 
        
        <!--end of Navigation bar-->

        <!-- List of skills (used below to loop through)-->

        <%
          const skills = {
            "Languages": "Python | Javascript | Node/NodeJS  | SQL | HTML| CSS",
            "Databases": "PostgreSQL | MongoDB",
            "APIs & API Platforms": "REST | Postman",
            "Web Frameworks & Libraries": "Express | liquidJS | Django | React | Bootstrap",
            "Software Management & Deployment": "Heroku | Command Line | Git | GitHub | Jira"
          };
        %>

        <div class="container center hide-on-med-and-down">

          <h3 style="color:var(--bright-yellow-crayola);">Skills</h3>

          <% Object.keys(skills).forEach(function(key) { %>
            <div class="row">
              <div class="col s12 m12">
                <h4 style="color:var(--platinum)"><%- key %> </h4>
                <span class="med_grey_font"> <%- skills[key] %> </span>
              </div>
            </div>
          <% }); %>
          
        </div>
        
          <br><br>

        <!-- MOBILE DEVICES LAYOUT  -->

        <div class="container center hide-on-large-only">

          <h3 style="color:var(--bright-yellow-crayola);">Skills</h3>
          
          <% Object.keys(skills).forEach(function(key) { %>
            <div class="row">
              <div class="col s12 m12">
                <h4 style="color:var(--platinum)"><%- key %> </h4>
                <span class="med_grey_font"> <%- skills[key] %> </span>
              </div>
            </div>
          <% }); %>

          </div>
          <br><br>

        <!--  ###############       FOOTER       ###############-->

        <%- include('./partials/footer'); %> 

        <!-- End of Footer -->
    
        <!--  ###############       SCRIPTS       ###############-->

        <!-- add side nav when screen width shrinks -->
        <script>
        $(document).ready(function(){
            $('.sidenav').sidenav();
        });
        </script>

        <!-- Needed for styling using jquery and materialize library -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        
        <!-- End of scripts -->

    </body>
</html>
        
        
